.container {
  padding-left: 15px;
  padding-right: 15px;
}

.tranding_name {
}

.tranding_group {
  list-style-type: none;
}

.tranding_element > a {
  color: black;
  text-decoration: none;
}

.tranding_element:not(:last-child) {
  margin-bottom: 10px;
}

.tranding_element > a:hover {
  color: rgb(216, 84, 22);
}
